# R workspace
.RData
.RDataTmp
.RDataTmp2
.RDataTmp*
*.RData
.Rhistory

# Large data files
Data/
Objects/
*.rds
lungref.SeuratData_2.0.0.tar.gz
ProjecTILs_references/
omnipathr-log/

# CopyKAT large outputs
*copykat_raw_results*
*copykat_bin_by_cell_heatmap*
*copykat_gene_by_cell*
*copykat_final_results_bin_by_cell*
*copykat_prediction.txt

# SCEVAN large outputs
scevan_log.txt
Results/Figures/BLOC4B_Epithelial_TAMs/output/*.log

*vega_output
*_output
Results/Figures/BLOC4B_Epithelial_TAMs/output/
*.log
